# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BeatMania.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Eigene Dateien\Dokumente\GitHub\Master\BeatMania\.idea\.idea.BeatMania\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
